@use 'variables' as *;
@use 'mixins' as *;

  form {
    .button-row {
      display: flex;
      justify-content: flex-end;
    }
    button[type=submit] {
      align-self: flex-end;
    }
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea,
  select {
    font-size: 1rem;
    padding: 8px;
    border: 1px solid #c1c1c1;
    border-radius: $border-radius-btn;
  }
  
  button {
    @include cta-button;
  }
  
  button:hover {
    background-color: #2779bd;
  }

  .input-row {
    display: flex;
    margin-bottom: 1rem;
    align-items: stretch;
    flex-direction: column;
    gap: 0.3rem;
    @media only screen and (min-width: 600px) {
      gap: 1rem;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2rem;

    }
    label {
      flex: 1;
    }
    input,
    textarea,
    select {
      flex: 3;
    }
  }