@use 'variables' as *;
@use 'mixins' as *;

form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    @include cta-button;
  }
  
  button:hover {
    background-color: #2779bd;
  }