@use '~/assets/css/variables' as *;
@use '~/assets/css/mixins' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: $font-family;
    height: 100%;
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
}

section {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 65rem) 1fr;
}

a {
    color: $color-primary;
}

h1, h2, h3, h4, h5 {
    color: $color-primary;
    margin-top: 0;
}
  
h1 {
    font-size: 1.5rem;
    @media only screen and (min-width: 600px) {
        font-size: 2rem;  
    }
}

ul {
    padding-left: 0;
}

.btn {
    @include cta-button;
}

.container {
    width: 100%;
    max-width: 65rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-column: 2;
}

.appframe {
    width: 100%;
}

main {
    min-height: 100vh;
}

// Breadcrumbs
nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    ul {
        margin-top: 0;
    }
    a {
        &:hover {
            color: $color-primary;
        }
    }
}

.no-hero {
    padding-top: 4rem;
}

// Custom flex grid
.grid {
    display: flex;
    > * {
        flex-basis: auto;
        flex-shrink: 0;
    }

    &.mobile-row {
        flex-direction: column;
        @media only screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    &.gap-1 {
        gap: 1rem;
    }

    &.gap-2 {
        gap: 2rem;
    }

    &.gap-3 {
        gap: 3rem;
    }

    .col-1 {
        flex-grow: 1;
    }

    .col-2 {
        flex-grow: 2;
    }

    .col-3 {
        flex-grow: 3;
    }
}

.content-area {
    &.centered {
        text-align: center;
    }
    p {
        line-height: 1.7;
    }
}