@use '~/assets/css/variables' as *;
@use '~/assets/css/mixins' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: $font-family;
    height: 100%;
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
}

section {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 65rem) 1fr;
}

a {
    color: $color-primary;
}

h1, h2, h3, h4, h5 {
    color: $color-primary;
    margin-top: 0;
}

ul {
    padding-left: 0;
}

.btn {
    @include cta-button;
}

.container {
    width: 100%;
    max-width: 65rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-column: 2;
    @media only screen and (min-width: 600px) {
        padding-top: 3rem; 
    }
}

.appframe {
    width: 100%;
}

main {
    min-height: 100vh;
}

// Breadcrumbs
nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    ul {
        margin-top: 0;
    }
    a {
        &:hover {
            color: $color-primary;
        }
    }
}