@use 'variables' as *;

@mixin product-label {
    display: inline-block;
    background-color: $color-primary;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color: $color-white;
    font-size: 0.9rem;
    border-radius: $border-radius-label;
  }
  