@use "sass:color";
// Global variables

// Colors
$color-primary: #236296;
$color-primary-dark: color.mix(black, $color-primary, 10%);$color-positive: green;
$color-positive-dark: color.mix(black, $color-positive, 10%);$color-black: #000000;
$color-white: #FFFFFF;

$color-darkgray: #333333;

// Fonts
$font-family: Arial, sans-serif;

// Border radius
$border-radius-image: 10px;
$border-radius-label: 3px;
$border-radius-btn: 5px;