// Global variables

// Colors
$color-primary: #236296;
$color-black: #000000;
$color-white: #FFFFFF;

// Fonts
$font-family: Arial, sans-serif;

// Border radius
$border-radius-image: 10px;
$border-radius-label: 3px;